﻿body {

    font-family: Calibri;
    font-size: medium;
    margin: 0px;
    padding: 0;
  

    min-height: 240px;
    min-width: 250px;

}
.tableWinkel {
    border: 1px solid black;
    margin: 10px;
}
    .tableWinkel td {
        border: 1px solid black;
        padding: 5px;
        margin: 0 15px;
    }


.title {
    float: left;
    padding: 1px 4px 2px;
    font-size: 2.2em;
}

.enableMultiLine {
    white-space: pre-wrap;
} 

.expandedPanel .title {
    display: none;
}

.mainMenu {
    float: right !important;
    margin: 8px 0 4px;
}

.expandedPanel .mainMenu {
    width: 100%;
}


inline {
    display:inline-table;
    margin-top:5px;
}

h1, h2 {
    font-size:larger;
    margin: 0px;
    color: #696969;
}

a.titel_link {
text-decoration: none;
color: #696969;
 font-size:larger;
}

label
{
width: 15em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}



#topTitle {
    background-image: url(../images/apklogo.png);
	background-repeat: no-repeat;
	background-position: 15px center;
	
    height: 60px;
    text-align: left;
    padding-left: 200px;
    border-bottom: 4px solid #808080;
    font-family:Calibri;
    font-size:x-large;
    text-decoration: none;
    color: #696969;
    
}


#leftContent {
    width: 240px;    
    padding: 20px;
    font-size: 12px;
    text-align: left;
    top: 100px;
    margin-top: 10px;
    left: 0px;

}

#leftContent h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-top: dotted 1px #660;
    border-bottom: dotted 1px #660;
}
.minimargin {
margin-top: 5px;
margin-bottom: 5px;

}
.MyClass {
    display: none;
}

#mainContent {
    /* voor design view */
    margin-left: 400px;
     voor design view 
    margin-top: 5px;
    padding: 20px;
}
#right {
    float:right;
    width:200px;
 margin-right:25px;

}

#bottom-right
{
right: 0;
bottom: 0;
position: absolute;
}
#footerContent {
    text-align: center;
    padding: 5px;
}
#todoLijst 
{
	list-style-type:circle;
	padding: 0 0 0 20px;
}
#todoLijst li 
{
	margin: 4px 0;
     text-decoration: none;
color: #696969;
}
#todoLijst li a {
    text-decoration: none;
color: #696969;


table {
    border-collapse: collapse;
    }


th, td {
    text-align: left;
    padding: 4px;
}

.grid {
 margin: 0 auto;
}
