﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Telecom.Master" CodeBehind="OpdrachtgeverSelect.aspx.vb" Inherits="Telecom.OpdrachtgeverSelect" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>
        <asp:Literal ID="Literal1" runat="server"></asp:Literal></h2>
    <br />
    <dx:ASPxFormLayout ID="ASPxFormLayoutOpdrachtgevers" runat="server" ShowItemCaptionColon="False" Enabled="True"></dx:ASPxFormLayout>
    <dx:ASPxCallback ID="ASPxCallback" runat="server" ClientInstanceName="ASPxCallback">
    </dx:ASPxCallback>

 
</asp:Content>