﻿<h1 class="title" id="MainHeader">Foutmelding</h1>

<br/>
<br />
<br />
<p class="lead">
    Daar ging iets mis. <br />De developer zal bij zijn oren worden getrokken!<br />
    <br />
    Als je hem ziet mag je hem het volgende vertellen:<br />
    <br />
    Foutmelding: ERRORMESSAGE<br />
    <br />
    Extra informatie: STACKTRACE
</p>

