﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Telecom.Master" CodeBehind="StocktellingCompleet.aspx.vb" Inherits="Telecom.StocktellingCompleet" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>
        <dx:ASPxLabel ID="ASPxLabel1" runat="server" Font-Bold="True" ForeColor="#006600" Text="ASPxLabel">
        </dx:ASPxLabel>
       </h2>
</asp:Content>
